<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/bg1.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>ÖĞRETMEN</h1>
                {{formData}}
            </div>
        </div>
        <div class="list">
            <ion-md-input class="logininput" ng-model="formData.user" placeholder="KULLANICI" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input class="logininput" ng-model="formData.pswd" placeholder="ŞİFRE" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ng-click="girisYap(formData);" ui-sref="app.profile" class="button button-full button-assertive ink">GİRİŞ</button>
        </div>
    </ion-content>
</ion-view>
