<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('{{ogrtresim}}');"></div>
                <h3><a class="light">{{active_ogrt.ad}} {{active_ogrt.soyad}}</a></h3>
                <h4>{{active_ogrt.bransad}}</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.dersprogramim" class="tab-item">
                <i class="icon ion-ios-calendar-outline"></i> Ders Programım
            </a>
            <a ui-sref="app.ogrenciler" class="tab-item">
                <i class="icon ion-android-people"></i> Öğrenciler
            </a>
            <a ng-hide="true" ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-ios-compose"></i> Yoklama Al
            </a>
        </div>

          <button class="button  button-full button-positive ink" ng-click="openDatePicker()">
              {{secilenTrh| date: 'dd/MM/yyyy'}} {{hangigun.gun}} Yoklamalarim <i class="icon ion-ios-calendar-outline"></i>
          </button>

        <div class="list">
            <a ui-sref="app.yoklamasinif({tarih:secilenTrh,sinif:d.sinif,ders:d.ders,saat:d.derssaati})" ng-click="YoklamasinifSec(d.snf,d.drs)" class="item item-avatar item-icon-right" ng-repeat="d in ders_prog|filter:{gun:hangigun.id}">
                <img src="img/derssaati{{d.derssaati}}.png" style="box-shadow: 0px 0px 5px #3F7BAF;">
                <h2>{{d.drs}}</h2>
                <p>{{d.snf}}</p>
                <i class="icon ion-compose"></i>
            </a>

        </div>
    </ion-content>
</ion-view>
